body{
    background: url(https://images.unsplash.com/photo-1566694271474-27e7b2de5c16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

h1{
    background-color: burlywood;
    padding-bottom: 2px;
}

.container{
    margin: 0 auto;
    padding: 0;
}

.br{
    border-right: 2px solid black;
}

.bl{
    border-left: 2px solid black;
}

.bt{
    border-top: 2px solid black;
}

.bb{
    border-bottom: 2px solid black;
}

.br{
    border-right: 2px solid black;
}

.table td{
    width: 90px;
    height: 90px;
    padding: 0;
}
.table{
    width: auto;
    height: auto;
}

span{
    line-height: 1.5;
}
#box{
    margin: 0 auto;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #000000;
}

input{
    width: 89px;
    height: 89px;
    font-size: 50px;
    padding: 0;
    border: none;
}

.btn{
    border-width: 2px;
    font-weight: 600;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}